
*{
    margin: 2%;
}

.rowForcast{
    display:flex;
    flex-direction: row;
}

.box{
    width: 100%;
    font-size: 3em;
}

.container{
    width: auto;
    border: 2px solid black;
    background-color: lightblue;
}